.carousel-container{
    top: 100vh;
    height: 100vh;
    border: red solid;
    z-index: 1;
    position: relative;
    margin: auto;
    background-color: white;
}

.inner-carousel-container{
    margin: auto;
    position: relative;
    border: black solid;
    margin-top: 5%;
    width: 65%;
    height: 500px;
}