body{
    margin: auto;
    width: 100%;
    height: 100vh;
}

.landingpage-container{
    border: red solid;
    position: fixed;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.landingpage-wrapper{
    position: relative;
    border: purple solid;
    height: 80%;
}

.landingpage-alternate{
    position: relative;
    border: yellow solid;
    margin: auto;
    /* height: 100%; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    transition: 2s;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

.landingpage-text-container{
    border: green solid;
    width: 100%;
}

.landingpage-alternate:nth-child(1){
    text-align: right;
}

.landingpage-alternate:nth-child(2){
    text-align: left;
    position: absolute;
    top: 0;
    height: 100%;
}

.landingpage-text{
    font-size: 100px;
    /* text-align: right; */
    vertical-align: middle;
}

.landingpage-alternate:nth-child(1){
    animation-delay: 0s;
    opacity: 1;
    z-index: 1;
}

.landingpage-alternate:nth-child(2){
    animation-delay: 0s;
    opacity: 0;
    /* z-index: 1; */
}



.image-container{
    border: blue solid;
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
}



/* @keyframes fadeInOut {
    0% {
      opacity:0;
    }
    17% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    90% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
} */