body{
    margin: auto;
    width: 100%;
    height: 100vh;
}

.landingpage-container{
    border: red solid;
    position: fixed;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 53px;
}

.landingpage-wrapper{
    position: absolute;
    border: yellow solid;
    margin: auto;
    /* height: 100%; */
    width: 92%;
    box-sizing: border-box;
    display: flex;
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.landingpage-text-container{
    border: green solid;
    width: 100%;
    
}

.landingpage-wrapper:nth-child(1){
    text-align: right;
}

.landingpage-wrapper:nth-child(2){
    text-align: left;
}

.landingpage-text{
    font-size: 100px;
    /* text-align: right; */
    vertical-align: middle;
}

.landingpage-wrapper:nth-child(1){
    animation-delay: 0s;
}

.landingpage-wrapper:nth-child(2){
    animation-delay: 4s;
    opacity: 0;
}

.image-container{
    border: blue solid;
    width: 100%;
}

.image-container img{
    width: 100%;
}

@keyframes fadeInOut {
    0% {
      opacity:0;
    }
    17% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    90% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
}